<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item lines="none">
      <ion-label class="titulo">Información</ion-label>
      <ion-icon name="person-circle-outline" class="perfil" (click)="perfil()"></ion-icon> 
      <ion-icon name="cart-outline" class="perfil" [routerLink]="['/tabs/compra']"></ion-icon>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Historia de JuegAlmi</ion-card-title>
    </ion-card-header>

    <ion-card-content class="animacion">
      <img src="src/assets/icon/logo.png" alt="Imagen de JuegAlmi" />
      <p>
        Fundamos JuegAlmi en 2010 como una pequeña tienda de videojuegos, y rápidamente nos convertimos en un referente local por nuestra oferta de venta y alquiler de videojuegos. Con el tiempo, ampliamos nuestro negocio para incluir la venta y reparación de consolas, tabletas y smartphones.
      </p>
      <p>
        A medida que crecía la competencia, decidimos modernizarnos creando una aplicación móvil que facilite el acceso a nuestros servicios, añadiendo un soporte técnico especializado en telefonía y consolas. Comprometidos con ofrecer productos de calidad y un excelente servicio al cliente, seguimos siendo el lugar ideal para los amantes de los videojuegos.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
